body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  color: white;
  background: #00795f;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}


nav ul{
  background-color: #43a286;
  color: white;
  overflow: hidden;
  padding: 0;
  text-align: center;
}


nav ul li{
  display: inline-block;
  padding: 20px;
}
